apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: nextcloud
    namespace: nextcloud
spec:
    interval: 5m
    chart:
        spec:
            # renovate: registryUrl=https://charts.truechartsoci.org
            chart: nextcloud
            version: 40.12.3
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
            interval: 5m
    install:
        createNamespace: true
        crds: CreateReplace
        remediation:
            retries: 3
    upgrade:
        crds: CreateReplace
        remediation:
            retries: 3
    values:
      ingress:
        main:
          enabled: true
          integrations:
            traefik:
              enabled: true
              middlewares:
                - name: auth
                  namespace: traefik
            certManager:
              enabled: true
              certificateIssuer: domain-0-le-prod
          hosts:
            - host: nextcloud.${DOMAIN_0}
              paths:
                - path: /
                  pathType: Prefix
      persistence:
        data:
          type: nfs
          path: /mnt/tank/apps/nextcloud
          server: ${NFS_HOST}
      nextcloud:
        collabora:
          enabled: true
          password: "${NEXTCLOUD_PASSWORD}"
        credentials:
          initialAdminPassword: "${NEXTCLOUD_PASSWORD}"
          initialAdminUser: "${NEXTCLOUD_USER}"
        general:
          accessIP: ${TRAEFIK_IP}
          default_phone_region: FR
        previews:
          providers:
            - BMP
            - GIF
            - JPEG
            - Krita
            - MarkDown
            - MP3
            - OpenDocument
            - PNG
            - TXT
            - XBitmap
