apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: qbittorrent
  namespace: media
spec:
  interval: 5m
  chart:
    spec:
      # renovate: registryUrl=oci://oci.trueforge.org/truecharts
      chart: qbittorrent
      version: 24.5.1
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 5m
  install:
    createNamespace: true
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    remediation:
      retries: 3
  values:
    portal:
      open:
        enabled: false
    ingress:
      main:
        enabled: true
        integrations:
          traefik:
            enabled: true
            middlewares:
              - name: local
                namespace: traefik
                expandObjectName: false
          certManager:
            enabled: true
            certificateIssuer: domain-0-le-prod
        hosts:
          - host: torrent.${DOMAIN_0}
            paths:
              - path: /
                pathType: Prefix
    persistence:
      config:
        enabled: true
        type: nfs
        path: /mnt/tank/apps/qbittorrent
        server: ${NFS_HOST}
      media:
        enabled: true
        type: nfs
        path: /mnt/tank/media
        mountPath: /media
        server: ${NFS_HOST}
    addons:
      gluetun:
        enabled: true
        container:
          env:
            FIREWALL: "on"
            FIREWALL_OUTBOUND_SUBNETS: "192.168.178.0/24"
            VPN_SERVICE_PROVIDER: "${VPN_SERVICE_PROVIDER}"
            VPN_TYPE: "openvpn"
            OPENVPN_USER: "${OPENVPN_USER}"
            OPENVPN_PASSWORD: "${OPENVPN_PASSWORD}"
            SERVER_COUNTRIES: "${SERVER_COUNTRIES}"

            # FIREWALL: "on"
            # FIREWALL_OUTBOUND_SUBNETS: "192.168.178.0/24"
            # VPN_TYPE: "wireguard"
            # VPN_SERVICE_PROVIDER: "${VPN_SERVICE_PROVIDER}"
            # WIREGUARD_PRIVATE_KEY: "${WIREGUARD_PRIVATE_KEY}"
            # FIREWALL_VPN_INPUT_PORTS: "${FIREWALL_VPN_INPUT_PORTS}"
            # WIREGUARD_ADDRESSES: "${WIREGUARD_ADDRESSES}"
            # VPN_ENDPOINT_PORT: "${VPN_ENDPOINT_PORT}"
            # WIREGUARD_PUBLIC_KEY: "${WIREGUARD_PUBLIC_KEY}"
            # VPN_ENDPOINT_IP: "${VPN_ENDPOINT_IP}"
